.sliderContainer {
    padding: 30px;
    justify-content: space-between;
    /*background-color:white;*/
    border-radius: 25px;
}

.slider{
    margin:20px;
}

.buttonContainer{
/*    aligns the button on the right side of the screen */
    display: flex;
    justify-content: flex-end;
}